@{
    ViewData["Title"] = "Page";
    string path = (string)ViewData["Path"];
    string typeFileString = (string)ViewData["TypeFile"];
}

<div>
<h1>Скачать @typeFileString файл</h1><br /><br />
    <a asp-action="DownloadFile" asp-controller="Home" asp-route-path=@path> Скачать </a>
</div>