@{

    ViewData["Title"] = "Page";
    string path = (string)ViewData["Path"];
}

<div class="text-center">

<h1>Click Link to download file</h1><br /><br />

    <a asp-action="DownloadFile" asp-controller="Home" asp-route-path=@path>Download</a>

</div>